<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FIND IT</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>

<body>
  <header>
    <h1>FIND IT</h1>
    {{#if loggedIn}}
    <p>You are Logged In</p>
    {{/if}}
    <nav>
      <a href="/">Home</a>
      {{#if loggedIn}}
      <button id="logout" class="btn-no-style">Logout</button>
      <a href="/createproduct" id="create-product" class="btn-no-style">Create Product</a>
      <a href="/dashboard"> Dashboard </a>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </nav>
  </header>

  <main>
    <aside>
      <h2>You might find it here!</h2>
    </aside>
    <div class="categories">
      {{{body}}}
    </div>
  </main>

  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>