<div class="row align-self-end">
  <div class="product-card">
    <h2 class="page-title">Post Your Product</h2>
    <form class="form login-form" action="/create" enctype="multipart/form-data" method="post">
      <div class="form-group">
        <label for="product-name" name="name">Title:</label>
        <input class="form-input" type="text" name="name"  />
      </div>
      <div class="form-group">
        <label for="product-price" name="price">Price:</label>
        <input class="form-input" type="number" name="price" />
      </div>
      <div class="form-group">
        <label for="product-description" name="description">Post a description:</label>
        <input class="form-input" type="description" name="description" />
      </div>
      <div class="form-group">
      <label for="categories">Choose a category:</label>
        <select id="categories" name="categories">
          <option value="Tops">Tops</option>
          <option value="Bottoms">Bottoms</option>
          <option value="Shoes">Shoes</option>
          <option value="Accesories">Accesories</option>
        </select>
      </div>
      <div class="form-group">
        <span>Upload an image</span>
          <input type="file" name="image" accept='image/*' >
      </div>
      <div class="form-group">
        <button id="buttonCreate" class="btn btn-primary" type="submit">Post It!</button>
      </div>
    </form>
  </div>
</div>
  